@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-size: 12px; /* Default font size for mobile or smaller screens */
}
@media (min-width: 1024px) {
  html {
    font-size: 14px; /* Larger font size for desktop screens */
  }
}
.form-radio:checked {
  /* Custom styles for checked state */
  background-color: #60a5fa; /* Example blue color */
}

.position1,
.position3 {
  transform: translateY(-6.25rem) scale(0.9);
  filter: blur(5px);
  opacity: 0;
}

body {
  touch-action: manipulation;
  background-color: #f3f3f3;
}



.flex.cursor-pointer {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.flex.cursor-pointer:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}



.resizable {
  position: relative;
  overflow: hidden;
}

.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0;
  right: 0;
  background: darkblue no-repeat;
  background-size: 100% 100%;
  cursor: se-resize;
}

.feedback-container {
  max-height: 800px; /* Adjust as needed */
  overflow-y: auto; /* Allows vertical scrolling */
}

.width-subtract {
  width: calc(100vw - 26.125rem);
}

.overflow-auto {


  scrollbar-color: #2E2E54 grey; /* For Firefox: thumb (solid color) and track color */
}

/* Styles for Webkit browsers like Chrome, Safari */
.overflow-auto::-webkit-scrollbar {
  margin-top: 10px;
  background: #6948c9; /* Background of the scrollbar */
  background-radius: 100px;
}

.overflow-auto::-webkit-scrollbar-thumb {
  background: #2E2E54; /* Solid color for the scrollbar thumb */

}

.overflow-auto::-webkit-scrollbar-thumb:hover {
  background: #1D1D47; /* Darker color of the thumb on hover (manually chosen) */
}

